@model PayUModel
@{
    Layout = null;
}

<form id="payuForm" action="@ViewBag.PayUUrl" method="post">
    <input type="hidden" name="key" value="@Model.Key" />
    <input type="hidden" name="txnid" value="@Model.TxnId" />
    <input type="hidden" name="amount" value="@Model.Amount" />
    <input type="hidden" name="productinfo" value="@Model.ProductInfo" />
    <input type="hidden" name="firstname" value="@Model.FirstName" />
    <input type="hidden" name="email" value="@Model.Email" />
    <input type="hidden" name="phone" value="@Model.Phone" />
    <input type="hidden" name="surl" value="@Model.Surl" />
    <input type="hidden" name="furl" value="@Model.Furl" />
    <input type="hidden" name="hash" value="@Model.Hash" />
    <input type="hidden" name="service_provider" value="@Model.ServiceProvider" />
    <h2>Thank You, @ViewBag.FirstName</h2>
</form>

<script>
    document.getElementById("payuForm").submit();
</script>